body {background-color: GREEN ; font-family: monospace; text-align: center; list-style-position: inside; font-size: 13pt}
H1 {color: #000066}
H2 {color: #000066}
/* new links */
a {color: #003366; text-decoration: none; }
/* visited links */
a:visited {color: #660066; text-decoration: none; }
/* mouse-over */
a:hover {color: #003366; text-decoration: underline; }
