body {
  font-family:arial, helvetica, sans-serif;
  margin-left:5%;
  margin-right:5%}
h1 {color:#000066}
/* new links */
a {color:green; text-decoration:none}
/* visited links */
a:visited {color:gray; text-decoration:none}
/* mouse-over */
a:hover {text-decoration:underline}